body {
  font-family: "caveat", serif;
  background: #ffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.weather-dashboard {
  background: linear-gradient(
    109.6deg,
    rgb(151, 213, 255) 11.2%,
    rgb(255, 155, 185) 91.1%
  );
  padding: 20px;
  border-radius: 20px;
  border: 5px solid purple;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  height: 510px;
}

.input-section {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  border: 2px solid purple;
  font-family: "caveat", serif;
  font-size: 16px;
}

#getWeather {
  padding: 10px 15px;
  background-color: violet;
  color: white;
  border: 2px solid purple;
  border-radius: 5px;
  cursor: pointer;
}

#getWeather:hover {
  background-color: lightblue;
}

.refreshData {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#refreshDataBtn {
  margin-top: 440px;
  padding: 10px 15px;
  background-color: violet;
  color: white;
  border: 2px solid purple;
  border-radius: 5px;
  cursor: pointer;
}

#refreshDataBtn:hover {
  background-color: lightblue;
  transform: rotatez(-360deg);
  transition: 1s ease;
}

.weather-result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info {
  margin-top: -600px;
  box-sizing: border-box;
}

.weather-result p {
  margin: 10px 0;
  font-size: 22px;
}

.weather-info img {
  width: 140px;
  height: 120px;
}